/* You can add global styles to this file, and also import other style files */
@import 'custom.scss';

/** Override bootstrap default setting */
$primary: $primary-500;
$secondary: $secondary-500;
$h1-font-size: map-get($font-sz, '2xl');
$h2-font-size: map-get($font-sz, 'xl');
$h3-font-size: map-get($font-sz, 'lg');
$h6-font-size: map-get($font-sz, 'md');

/** Import bootstrap SCSS file */
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: 'Roboto Slab';
  src: url('assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playball';
  src: url('assets/fonts/Playball-Regular.ttf');
}

* {
  font-family: 'Roboto Slab', Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $primary-100;
  color: $primary;
  font-size: map-get($font-sz, 'sm');
}

input {
  padding: 5px 10px;
  border: 1px solid $gray-200;
  border-radius: map-get($bd-radius, 'default');
  color: $primary;
  cursor: pointer;

  &::placeholder {
    color: $gray-200;
  }

  &:focus-visible, &:focus, &:hover {
    outline: none;
    border-color: $primary;
    box-shadow: map-get($bx-shadow, 'input')
  }
}

button {
  width: 80px;
  height: auto;
  padding: 8px 15px;
  border: none;
  border-radius: map-get($bd-radius, 'default');
  color: $white;
  background-color: $primary;
  transition: all .3s linear;

  &:hover {
    opacity: .8;
  }

  &.outline {
    border-color: $primary;
    color: $primary;
    background-color: transparent;
  }

}